.anon #nav-link-container {
  display: none;
}

#nav-link-container {
  left: -25%;
  top: 5px;
  width: 0px;
}

#nav-link-container .nav-link-submenu {

  top: 32px;
  left: -50px;
  min-width: 200px;
  margin: 0;

  > li > button {
    margin: 0 0 0 0px;
  }

  > li > a, > li > button {
    padding: 0 15px 0 10px;
    margin: 0;
    width: 100%;
    font-size: 14px;
    line-height: 2em;;

    &:hover {
      border-radius: 3px;
    }
  }
}
