@import "variables";

#nav-link-container {
  float: left;
  position: relative;
  padding: 0;
  margin: 0 0px 0 0px;
  left: 0px;
  top: 0px;
  width: 240px;
  list-style: none;

  > li {
    margin-right: 25px;
  }

  a {
    text-transform: none;
    text-decoration: none;
    font-size: 15px;
    padding-right: 3px;

    svg {
      width: 1em;
      padding-right: 3px;
      font-size: 15px;
      color: inherit;
      background-color: inherit;
    }

    &:hover {
      background-color: $npn-main-background;
    }
  }


  .nav-link-submenu {

    display: none;
    position: absolute;
    list-style: none;
    transition: opacity 0.4s ease-in-out 0s;
    z-index: 1;

    > li > a, > li > button {
      text-align: left;
      color: $npn-gold;
      display: block;
      box-sizing: border-box;
    }
  }

  .dropdown {
    display: flex;
    position: relative;

    a, button {
      color: $npn-gold;
      background-color: $header_background;

      &:hover {
        color: $secondary;
      }
     }

    &:hover {
      > a {
        overflow: visible;
        z-index: 1000;
        color: $header_background;
        background-color: $npn-gold;
        border-start-start-radius: 2px;
        border-start-end-radius: 2px;
        border-end-start-radius: 2px;
        border-end-end-radius: 0px;
      }

      .nav-link-submenu  {

        display: block;
        background-color: $npn-gold;
        border-end-end-radius: 2px;
        border-end-start-radius: 2px;
        border-top: solid 1px $npn-gold;
        border-right: solid 1px $npn-gold;
        border-bottom: solid 1px $npn-gold;
        border-left: solid 1px $npn-gold;

        button, a, li {
          cursor: pointer;
          color: $npn-gold;
          background-color: $secondary;

          &:hover {
           background-color: $npn-main-background;
           color: $npn-gold;
           border-end-end-radius: 0px;
           border-end-start-radius: 0px;
           border-start-end-radius: 0px;
           border-start-start-radius: 0px;
          }
        }
      }
    }

    a {
      margin-right: 3px;
      padding: 3px;
      line-height: 1.75em;

      .menu-title {
        svg {
          font-size: 1.2em;
          padding-left: 2px;
          padding-right: 2px;
          width: 1em;
          color: inherit;
        }
      }
    }
  }
}

.dropdown-toggle {
  float: left;
  background: none;
  color: inherit;
  border: none;
  float: unset;
  padding: 0;

  &::after {
    margin: 3px;
    color: $secondary;
  }
}
